
  <div id="players" class="small-12 medium-3 large-4 columns">
    <h2>Players</h2>
    <div>
      <ul  id="rankings-container" class="small-block-grid-4 medium-block-grid-1">
      <% @leaders.each do | leader | %>
      <li>
        <%= render partial: 'player', locals: {player: leader[:player], points: leader[:total_points]} %>
      </li>
      <% end %>
      </ul>
    </div>
    </ul>
</div>
