
  <div id="players" class="small-12 medium-3 large-4 columns">

    <h3>Players</h3>
      <% @leaders.each do | leader | %>
      <div class="row collapse ranking" player="<%= leader[:player] %>">
        <div class="small-10 columns player-name"><%= leader[:player] %></div>
        <div class="small-2 columns player-points" player="<%= leader[:player] %>"><%= leader[:total_points] %></div>
      </div>
      <% end %>
    </ul>
</div>
