
  <div class="plate <%= "visibility-faded found" if @game.plates.include?(plate) %>" plate_code="<%= plate.code %>" >

    <span class="owner"></span>

    <%# render partial: 'controls', locals: {plate: plate} %>
    <%= plate %>
  </div>
