<div id="play" class="row" game_id="<%= @current_game.id %>" player_id="<%= @active_player_id %>">

  <%= render 'players' %>

  <div class="small-12 medium-8 large-9 columns">


    <ul id="plate-list" class="small-block-grid-2 large-block-grid-3">
      <% @plates.each do | plate | %>
        <li class="plate-card">
          <%= render partial: 'plate_card', locals: {plate: plate} %>
        </li>
      <% end %>
    </ul>

  </div>
</div>
