
<div class="row">
  <div class="small-12 medium-8 medium-offset-4 columns text-right">
    <%= link_to "Back to Game", current_game_path, class: 'button secondary small expand' %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 columns right">
    <%= render partial: 'shared/map', locals: { spoils: @current_game.spoils } %>
  </div>
    <div class="small-12 medium-4 columns left">
      <%= render partial: 'shared/leaders', locals: {leaders: @leaders } %>
      <%= render partial: 'shared/unclaimed_plates', locals: {unclaimed_plates: @unclaimed_plates } %>
    </div>
</div>


<hr>
