<h2>The Worlds Best License Plate Game</h2>

<p>Donec sodales sagittis magna. In auctor lobortis lacus. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Curabitur at lacus ac velit ornare lobortis.</p>

<%= link_to "Create a Game", new_game_path %>
