<div class="row">
  <div class="small-12 columns">
    <h2>The Worlds Best License Plate Game</h2>
    <p>Battle others, friend and foe, on your trip to where ever.</p>

    <div class="row">
      <div class="small-12 medium-4 columns">
        <h3>Setup</h3>
        <ul>
          <li>Create a new game. Or create a "Tour" which can have many games. Perfect for vacations.</li>
          <li>Choose the number of plates (up to 10) to have a bonus value. Random plates will be marked and will be worth double points </li>
          <li>Invite your travel mates (or anyone for that matter) to join your game using their gmail account</li>
          <li>Click Play and start the competition</li>
        </ul>
      </div>
      <div class="small-12 medium-4 columns">
        <h3>Playing</h3>
        <ul>
          <li>See a plate? It's a race to click it. Whoever gets it first gets the points</li>
          <li>Points are based on how far away the plate's state is from your current location.</li>
          <li>Once a plate is found, no one else can claim it.</li>
          <li>When done with your trip the person with the most points wins.</li>
        </ul>
      </div>
      <div class="small-12 medium-4 columns">
        <h3>After the Game</h3>
        <ul>
          <li>Once the game is over, you can see the current points and what plates each player has found.</li>
          <li>You can also see a map of your trip with pins for every plate found. The pin will show you where the plate was found.</li>
          <li>If you have created a Tour, start another game your next leg of your trip.</li>
        </ul>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 medium-offset-4 columns end ">
    <% if @active_player %>
      <%= link_to "Create a Game", new_game_path, class: 'button large success expand' %>
      <% else %>
      <%= link_to 'Login', login_path, class: 'button large success expand' %>
      <% end %>
  </div>
</div>
