<div class="row">
  <div class="small-8 medium-8 columns">
    <h2>Tours</h2>
  </div>
  <div class="small-4 medium-4 columns">
    <%= link_to 'New Tour', new_tour_path, class: 'button success' %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>Tours allow you to play multiple games within a larger one. For instance, if you are on a week long vacation, you can play many
    smaller competitive games over the week but also have a single game that comprises the entire week. All the rules still apply,
    whoever spoils the plate first gets the points.</p>

    <p>When you create new pages as part of a tour, all the players will already be added to the new game.</p>
  </div>
</div>



<div class="row">
  <div class="small-12 columns">
    <% @tours.each do |tour| %>
      <%= render tour %>
    <% end %>
  </div>
</div>
