
<div class="row">
  <div class="small-12 medium-8 columns right">
    <% puts @game.finds.inspect %>
    <%= render partial: 'shared/map', locals: {finds: @game.finds } %>
  </div>
    <div class="small-12 medium-4 columns left">
    <%= render partial: 'shared/leaders', locals: {leaders: @leaders } %>
    </div>
</div>
