<h2>Login</h2>

<div class="row">

<div class="row">
  <div class="small-12 medium-5 large-3 large-offset-3 medium-offset-1 columns text-center">
    <%= link_to  "Login with Google", "/auth/google", class: 'button radius large expand' %>
  </div>
</div>
