// gray 7F8F9B
// light blue 78B6E8
// gold 9B7232
// darker 1C2A35
// bright 517A9B
// brown 4F4029

header {
  background-color: #293e4f;
  text-align: center;
}
#top-bar-container{
  margin-bottom: 20px;
  box-shadow: #000 0px 2px 60px;
  nav.top-bar{

  }

}

main{

}

h1.site-header-text {
  color: #fff;
  padding-left: 10px;
}

.game-list-item {
  background-color: #efefef;
  border-bottom: thin solid #ccc;
  padding: 10px 10px 0px 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  }

  .completed-game-list-item {
    font-size: .9em;
  }

  .pending-game-list-item {
    font-size: .9em;
  }


  #header-plate {
      display: inline-block;
      vertical-align: middle;
      height: 160px;
      padding: 10px;
  }




footer{
  width:100%;
  padding:10px;
  border-top: thin solid #000;
  margin-top:20px;
  float:left;
}
