
/* Messages */
// #message-box {
//   background-color: rgba(153, 153, 153, 0.2);
//   margin: 0px 20px;
//   padding: 4px;
//   color: #000;
//   border-radius: 0px 0px 6px 6px;
//   display: none;
//   box-shadow: #ccc 3px 5px 10px;
//   display:none
// }

#celebration.fireworks{
  background-repeat: no-repeat;
  background-size: 400px;
  width: 100%;
  height: 600px;
  position: relative;
  top: -360px;
  left: 30%;
}

#celebration.fireworks.pony{
  background-image: url('/img/pony.gif');
}

#celebration.fireworks.airbender{
  background-image: url('/img/airbender.gif');
}

#celebration.fireworks.dancer{
  background-image: url('/img/dancer.gif');
}


#celebration.fireworks.leftshark{
  background-image: url('/img/leftshark.gif');
  top: -256px;
}


#celebration.fireworks.squirrel{
  background-image: url('/img/squirrel.gif');
}


#celebration.fireworks.stitch{
  background-image: url('/img/stitch.gif');
}

#celebration.fireworks.unicorn{
  background-image: url('/img/unicorn.gif');
  left: 33%;
}

#message-box, #static-message-box {
    position: fixed;
    background-color: #000;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
    z-index: 1;
    opacity: .8;
    box-shadow: 1px 1px 3px #000;
    width: 96%;
    height: 150px;
    bottom: -125px;
    left: 2%;
    right: 2%;
}

#static-message-box {
    float: left;
    height: inherit;
    border-radius: 6px;
    width: 100%;
}
.messages {display:none;
  #close-message-x {
    float:right;
    padding:2px 8px;
    color:#fff;
    background-color:#666;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    box-shadow:1px 1px 3px #000;
    margin-top: -24px;
    margin-right: -24px;
  }
  .message-text {font-style:italic; color: #fff}
}

@media (max-width: 640px) {
  #message-box {

  }
}
