
/* Messages */
// #message-box {
//   background-color: rgba(153, 153, 153, 0.2);
//   margin: 0px 20px;
//   padding: 4px;
//   color: #000;
//   border-radius: 0px 0px 6px 6px;
//   display: none;
//   box-shadow: #ccc 3px 5px 10px;
//   display:none
// }


#message-box {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    top: 10%;
    left: 10%;
    right: 10%;
    z-index: 1;
    opacity: .8;
    box-shadow:1px 1px 3px #000;
}
.messages {display:none;
  .messages-close {
    float:right;
    padding:2px 8px;
    color:#fff;
    background-color:#666;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    box-shadow:1px 1px 3px #000;
  }
  .message-text {font-style:italic; color: #fff}
}
