[class*="block-grid-"] > li div.points-badge {
  background-color: #efefef;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
  border: thin solid #ccc;
  width: 100%;
  font-size: .7rem;
}


#map{
  width:100%;
  min-height: 400px;
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.select-player {
  padding: 4px;
}

#plate-list{
  margin-top:20px
}
.going-up {
  color: green;
}

.going-down {
  color: red;
}

div#team-points {
    background-color: #fff;
    widows: 100%;
    text-align: center;
    border: thin solid #ccc;
    font-size: 1.2em;
    margin: 8px;
    border-radius: 22px;
    padding: 8px;
}


@media (max-width: 640px) {

    img.icon{

    }

    .select-player {
      background-color: #fff;
      width:48px;
      padding:4px;
      border-radius: 36px;
      margin-top: 4px;
      background-color: #fff;
      border-radius: 24px; }


    #team-container {
      li {margin-top: 10px;}
      img.icon{
        width:36px;
        padding: 4px;
      }
    }

  div#team-points {
    float: right;
    width: 60px;
    }
}
