.fixed-width {width: 30%}

  div.row.invitation-details{
      min-height: 65px;
    }

#players {
  margin-top: 0px;
  ul.small-block-grid-4 > li.ranking-items {
    padding-bottom: 1px;
  }
  #rankings-container, #team-container {
    margin: 0px -15px 0px -15px;

  .active-player {
    border: 2px solid green;
    background-color: #efefef;
  }

  .ranking{
    border-bottom: thin solid #293e4f;
    margin-bottom: 5px;
    padding: 4px;


    .icon{ width:64px;
      padding:4px;
      border-radius: 36px;
      }
    .player-name { margin-top:36px }
    .player-points { font-weight:bold; font-size: 1.6em; margin-top:24px }

  }
    .me {
      border-bottom: 2px solid #2B5C58;
    }

  }
}

@media (max-width: 700px) {

  #players{
    .ranking{
      .icon{ width:48px; }
    }
  }
}

@media (max-width: 640px) {

  [class*="block-grid-"] > li {
      padding: 0 0.625rem 0.25rem;
  }


  #players{
    #rankings-container, #team-container {
      background-color: #dedede;
      box-shadow: 0px 4px 24px #000;


    .ranking{
      border-bottom: none;
      margin: 6px 0px 4px 0px;
      background-color: #fff;
      border: thin solid #ccc;
      border-radius: 6px;

      .icon{ width:36px; }
      .player-name { margin-top:36px }
      .player-points { margin-top:10px; font-size: 1em;}
    }
    .ranking.active-player {
      border: 2px solid green;
      background-color: #efefef;
    }

    .ranking.me {
      border: 2px solid #2B5C58;
      background-color: #fff;
    }
  }

    }
}
