#play {

  li {

    .plate {
      background-color: #efefef;
      padding: 16px;
      border-radius: 6px;
      border: thin solid #000066;
      min-height: 85px;
    }

    input.control-toggle {
      font-size: 2em;
      float: right;
    }
  }
}


.visibility-faded { opacity: .3 }
