


<% if @current_game %>
  <li class="has-dropdown">
      <a>Current Games</a>
      <ul class="dropdown">
        <li><a href="/play">Play</a></li>
        <li><a href="/play/table">Map and Table</a></li>
        <li><a href="/games/<%= @current_game.id %>/complete">Complete Game</a></li>
      </ul>
  </li>
<% end %>


<% if @active_player %>
  <li class="has-dropdown">
      <a>Games</a>
      <ul class="dropdown">
        <li><a href="/play">Play Current Game</a></li>
        <li><a href="/games">Go to Games</a></li>
        <li><a href="/games/<%= cookies[:current_game_id] %>/edit">Update Current Game</a></li>
        <li><a href="/games/new">New Game</a></li>

      </ul>
  </li>

  <% if @active_player.super? %>
    <li class="has-dropdown">
      <a href="#">Administers</a>
        <ul class="dropdown">
          <li><a href="/manage">Dashboard</a></li>
          <li><a href="/manage/players">Manage players</a></li>
          <li><a href="/manage/stories/all">Manage Games</a></li>
          <li><a href="/manage/stories/all">Manage Plates</a></li>
        </ul>
    </li>
    <% end %>

    <li>
        <%= link_to 'Logout', logout_path %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Login', login_path %>
    </li>
  <% end %>
